textarea {
    resize: none;
    height: 4.5vw
}

.time-range {
    position: relative;
    top: -5px;
}

.time-input-margin {
    margin-left: 2.2vw;
}

.panel-margin{
    margin: 0.5vw 0;
}
.margin-input {
    margin-left: 2.3vw;
}
.error {
    position: absolute;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(220, 53, 69);
    top: 40%;
    left: 40%;
    border-radius: 15px;
}

.width-60 {
    width: 55%;
}

.width-40 {
    width: 45%;
}

.width-80 {
    width: 75%;
}

.pend {
    font-size: 0.73vw;
}

.width-20 {
    width: 25%;
}

.panel-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    font-weight: 500;
}

.v1, .v2, .v3, .v4, .air-button, .tmp-pressure, .flp-pressure, .tmp, .flp, .atm {
    border: 4px solid #BFBFBF;
    box-sizing: border-box;
}

.v1, .v2, .v3, .v4, .air-button, .tmp-pressure, .flp-pressure, .tmp, .flp {
    background: #FFFFFF;
    color: black;
}

.camera {
    width: 24vw;
    height: 7vw;
    /*background: #05B024;*/
    border: 2px solid #BFBFBF;
    border-radius: 15px;
}

.pipe-color {
    background: #BFBFBF;
}

.open-pipe {
    background: #05B024;
}

.air-pipe {
    width: 3vw;
    height: 0.7vw;
    margin-top: 3.2vw;
    border-style: solid none solid none;
    border-color: #BFBFBF;
    border-width: 0.15vw;
}

.air-button {
    margin-top: 1.5vw;
}

.v4 {
    margin-top: 1.8vw;
}

.width-50 {
    width: 50%
}

.v1-pipe, .v3-pipe, .v3-pipe-in {
    width: 0.6vw;
    height: 3.5vw;
}

.v1-pipe, .v3-pipe, .v3-pipe-in, .out-pipe{
    border-style: none solid none solid;
    border-color: #BFBFBF;
    border-width: 0.15vw;
}

.flp-pipe, .tmp-pipe, .out-pipe {
    width: 0.7vw;
    height: 3.5vw;
}

.v1-pipe {
    margin-left: 2.4vw;
}

.tmp-pipe {
    margin-left: 2.2vw;
}

.v3-pipe {
    margin-left: 16.4vw;
}

.v3-pipe-in {
    margin-left: 7.9vw;
}

.flp-pipe {
    margin-left: 7.9vw;
}

.out-pipe {
    margin-left: 16.4vw;
}

.v1, .v2, .v3, .v4 {
    width: 3.5vw;
    height: 3.5vw;
    font-size: 1vw;
}

.v1, .v2, .v3, .v4, .flp-pressure, .tmp-pressure{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flp-pressure, .tmp-pressure {
    width: 4.1vw;
    height: 4.1vw;
    border-radius: 50%;
}

.flp-pressure {
    position: absolute;
    left: 14.55vw;
}

.tmp-pressure {
    margin-left: 1.15vw;
}

.v1 {
    margin-left: 0.9vw;
}

.v3 {
    margin-left: 13.6vw;
}

.v2 {
    margin-top: 0.4vw;
}

.air-button,.tmp, .flp {
    width: 6vw;
    height: 4vw;
}

.atm {
    width: 7vw;
    height: 4vw;
    color: black;
    margin-left: 11.6vw;
}

.tmp {
    margin-left: 0.3vw;
}

.indicators-panel {
    width: 15vw;
    height: 6.3vw;
}

.status-input {
    width: 17.5vw;
    margin-right: 1vw;
}
.status-text-input {
    height: 6.5vw !important;
}

.tool-header {
    width: 15vw;
    font-size: 0.85vw;
    font-weight: 500;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #1E87F0;
    border-radius: 5px 5px 0 0;
}

.pressure-input {
    font-size: 1vw;
    height: 2vw;
    background: #FFFFFF;
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 4px;
}

.v2-pipe {
    width: 3.88vw;
    height: 0.6vw;
    border-style: solid none solid none;
    border-color: #BFBFBF;
    border-width: 0.15vw;
    margin-top: 1.7vw;
}

.lab-name {
    /*margin-top: 3vw;*/
    /*width: 48vw;*/
    height: 2.3vw;
    background: #1E87F0;
    border-radius: 16px 16px 0px 0px;
}

.lab-text {
    color: white;
    font-weight: 500;
    font-size: 1vw;
    line-height: 24px;
}

.task-header {
    margin-top: 2vw;
    width: 41.5vw;
    height: 2.3vw;
    background: #1E87F0;
    border-radius: 16px 16px 0 0;
}

.width-task-card {
    width: 38vw;
    margin-left: 10px;
}

.tmp-pump-parameters-card, .flp-pump-parameters-card {
    width: 17.5vw;
    height: 10.5vw;
    background: #FFFFFF;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);;
    border-radius: 4px;

}

.parameters-header {
    font-size: 0.9vw;
    font-weight: 400;
    display: flex;
    margin-top: 5px;
    justify-content: center;
}

.status-text{
    font-size: 0.85vw;
    font-weight: 500;
    display: flex;
    justify-content: start;
}

.task-text {
    font-size: 0.85vw;
    font-weight: 400;
    padding: 0;
}

.parameter-input {
    font-size: 0.8vw;
    font-weight: 400;
    width: 8.6vw;
    height: 1.4vw;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 2px;
    /*margin-top: 0.3vw;*/
}

.header-task {
    font-size: 1.5vw;
    font-weight: 900;
    text-align: center;
    margin-left: 1.7vw;
}
.parameters-units {
    text-align: start;
    width: 3vw;
    margin-left: 2px;
    margin-top: 2px;
}

.parameters-letter {
    text-align: center;
    width: 1vw;
    margin-right: 2px;
    margin-top: 2px;
}

.turn {
    width: 16vw;
    height: 3vw;
    border-radius: 5px;
    color: white;
}

.journal-button {
    width: 8.5vw;
    height: 2vw;
    background: white;
    border-radius: 5px;
    color: black;
    border: 1px solid #DEDEDE;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.25);
}

.end-button{
    width: 8.5vw;
    height: 2vw;
    color: #FFFFFF;
    background: #D11919;
    border-radius: 5px;
    border: 1px solid #D11919;
}

.turn-on {
    background: #54C940;
}

.turn-off {
    background: #FF2C2C;
}

.task-card{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0 0 15px 15px;
    border-top: none;
}

.panel-card {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 11px 11px 4px 4px;
}

.indicators-panel {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.panel-card {
    position: absolute;
    left: 33vw;
    height: 10.1vw;
    width: 13.5vw;
    background-color: white;
}

.task-card {
    width: 41.5vw;
    height: 36.3vw;
    background-color: white;
}

.card-margin {
    margin-left: 10px;
}

.time-input {
    width: 17vw;
}

.mono-text {
    font-size: 3vw;
}

.margin-header {
    margin-top: 0.4vw;
    margin-bottom: 0.6vw;
}

.header-lab-text {
    margin-top: 0.4vw;
    font-weight: 500;
    font-style: normal;
    font-size: 1.9vw;
    line-height: 44px;
    letter-spacing: -0.005em;
    color: #181818;
    height: 2.3vw
}

.header-subtitle {
    margin-top: 0.4vw;
    font-weight: 500;
    font-size: 0.8vw;
    line-height: 20px;
    color: #CDCDCD;
    height: 1.3vw
}

.task-card-left {
    /*width: 100%;*/
    border-radius: 0 0 15px 15px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top: none;
    height: 36.3vw;
}

.position-button{
    width: 65% !important;
    height: 2.2vw !important;
    border: none;
    font-size: 0.9vw;
    font-weight: 500;
}

.form-control:disabled, .form-control[readonly] {
    background-color: white;
}

.padding-tool {
    padding-left: 1.5rem;
}