 textarea { resize:none; height: 8.5vh }
 .error {
   position: absolute;
   width: 200px;
   height: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   background-color: rgb(220,53,69);
   top: 40%;
   left: 40%;
   border-radius: 15px;
 }
  .width-60 {
    width: 55%;
  }
  .width-40 {
    width: 45%;
  }
  .width-80 {
    width: 75%;
  }
  .pend {
    font-size: 1.5vh;
  }
  .width-20 {
     width:25%;
  }
  .panel-header {
    font-size: 1.9vh;
  }
  .camera {
    width: 33vw;
    height: 19vh;
    margin-left: 3vw;
    margin-top: 3vh;
    /*background: #05B024;*/
    border-radius: 15px;
    border: 5px solid #BFBFBF;
    box-sizing: border-box;
  }
  .pipe-color {
    background: #BFBFBF;
  }
  .open-pipe {
    background: #05B024;
  }
  .air-pipe {
    width: 4vw;
    height: 2vh;
    margin-top: 11vh;
  }
  .air-button {
    width: 9vw;
    margin-top: 8vh;
    height: 8.5vh;
    background: #FFFFFF;
    border: 5px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 15px;
    color: black;
  }
  .width-50 {
    width: 50%
  }
  .color-pipe {
      background-color: #BFBFBF;
  }
  .v1-pipe, .v3-pipe, .v3-pipe-in {
    width: 1.3vw;
    height: 8vh;
  }
  .flp-pipe, .tmp-pipe, .out-pipe {
    width: 0.5vw;
    height: 8vh;
  }
  .v1-pipe{
    margin-left: 5vw;
  }
  .tmp-pipe {
    margin-left: 5.5vw;
  }
  .v3-pipe {
    margin-left: 23.8vw;
  }
  .v3-pipe-in {
    margin-left: 11.8vw;
  }
  .flp-pipe {
    margin-left: 11.6vw;
  }
  .out-pipe {
    margin-left: 24.5vw;
  }
  .v1, .v3, .v2, .flp-pressure{
    width: 6vw;
    height: 9vh;
    background: #FFFFFF;
    border: 5px solid #BFBFBF;
    color: black;
    box-sizing: border-box;
    border-radius: 15px;
  }
  .v1 {
     margin-left: 2.8vw;
  }
  .v3 {
    margin-left: 6.8vw;
  }
  .v2 {
    margin-top: 1.5vh;
  }
  .tmp, .flp{
    width: 8.2vw;
    height: 12vh;
    background: #FFFFFF;
    border: 5px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 15px;
    color: black;
  }
  .flp-pressure {
    margin-left: 6.4vw;
    font-size: 2.2vh;
  }
  .tmp-pressure {
    width: 10vw;
    height: 12vh;
    background: #FFFFFF;
    border: 5px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 15px;
    color: black;
    margin-left: 2vw;
  }
  .atm {
    width: 10vw;
    height: 12vh;
    /*background: #FFFFFF;*/
    /*border: 5px solid #BFBFBF;*/
    box-sizing: border-box;
    /*border-radius: 15px;*/
    color: black;
    margin-left: 14.5vw;
  }
  .tmp {
    margin-left: 2.8vw;
  }
  .indicators-panel {
    width: 14vw;
    height: 15vh;
    background-color: #6B89CA;
    color: white;
  }
  .pressure-input {
    font-size: 2vh;
    height: 3.5vh;
    background: #FFFFFF;
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .v2-pipe {
    width: 5.2vw;
    margin-top: 4.5vh;
    height: 2vh;
  }
  .lab-name {
    margin-top: 3vh;
    width: 46.5vw;
    height: 6.4vh;
    background: #6B89CA;
    border-radius: 5px 5px 5px 5px;
  }
  .lab-text {
    color: white;
    font-weight: 400;
    font-size: 3.4vh;
    line-height: 44px;
  }
  .task-header {
    margin-top: 3vh;
    width: 38vw;
    height: 6.4vh;
    background: #6B89CA;
    border-radius: 11px 11px 0 0;
  }
  .width-task-card {
    width: 38vw;
    margin-left: 10px;
  }
  .tmp-pump-parameters-card, .flp-pump-parameters-card{
    width: 17vw;
    height: 24vh;
    background: #FFFFFF;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 10px;
  }
  .parameters-header {
    font-size: 2.1vh;
  }
  .task-text {
    font-size: 1.7vh;
  }
  .parameter-input {
    font-size: 2vh;
    width: 9vw;
    height: 3.5vh;
    background: #FFFFFF;
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .parameters-letter {
    width: 3px;
  }
  .turn {
    width: 16vw;
    height: 5vh;
    border-radius: 5px;
    color: white;
  }
  .journal-button {
    width: 15vw;
    height: 5vh;
    background: white;
    border-radius: 5px;
    color: black;
  }
  .turn-on {
    background: #34a853;
  }
  .turn-off {
    background: #FF2C2C;
  }
  .task-card, .panel-card, .indicators-panel {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 11px 11px 4px 4px;
  }
  .panel-card{
    height: 25vh;
    width: 10vw;
    background-color: white;
  }
  .task-card {
    width: 38vw;
    height: 87vh;
    background-color: white;
  }
  .card-margin {
    margin-left: 10px;
  }
  .time-input {
    width: 17vw;
  }
  .mono-text {
    font-size: 3vh;
  }