$white: #fff;
$black: #000;
$black-brown: #222222;
$traffic-gray: #8C8C8C;
$traffic-gray-01: #8c8c8c1a;
$honey-dew: #EFEFEF;
$dark-blue: #3F88BC;
$dark-blue-01: #3e87bb1a;
$dark-blue-012:#3e87bb1f;
$signal-red: #D31919;

$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

$transition-xs: .0.5s;
$transition-sm: .1s;
$transition-md: .15s;
$transition-lg: .2s;
$transition-xl: .25s;
$transition-xxl: .3s;

$max-page-width: 1316px;
