$blue-primary: #3A57E8;
$light-blue-primary: #E9EBF8;

$font-dark: #000000;
$font-light: #ffffff;

$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;
