$dark: #000000;
$light-blue-primary: #E9EBF8;
$grey-primary: #8A92A6;

$blue-primary: #1E87F0;

$radius-xs: 2px;
$radius-sm: 4px;

$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

$max-page-width: 1316px;
